{% load static %}
<head>
    <link rel = "stylesheet" href="{% static '/main/css/header.css' %}">
</head>
<header>
    <div class="content">
        <div class="pagetitle">
            <a href="../"><h1>{{pagetitle}}</h1></a>
        </div>
        <div class="nav-list">
            <ul>
                <a href="cart"><li id="cart-link">MY CART</li></a>
                <a href="market"><li id="market-link">MARKET</li></a>
                <a href="https://hsedesign.ru/designer/c7098ca79f90446490cb520a28a9be59" target="_blank"><li>MY PORTFOLIO</li></a>
            </ul>
        </div>
    </div>
</header>